.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
}

.social-icons a {
    color: #fff;
    margin-left: 10px;
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #bbb;
}